<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="yandexAPIKey" value="trnsl.1.1.20190214T092400Z.5d9101405e2bd0df.a3b3e28d89b78c147c1cb9ca64ff21276b188f7e"/>
    <add key="workingDirectory" value="C:\Users\svolkov.ICS_HOME\Desktop\dev\flexberry.github.io"/>
  </appSettings>
</configuration>